#disqus_thread {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid var(--card-separator-color);
}

#disqus_thread h3 {
  font-size: 1.2rem;
}

#disqus_thread iframe {
  margin-top: 1rem;
}

#disqus_thread::before {
  content: "コメント";
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}