<script src="https://giscus.app/client.js"
        data-repo="ui02/lite"
        data-repo-id="R_kgDOS5x0NQ"
        data-category="General"
        data-category-id="DIC_kwDOS5x0Nc4DAw_P"
        data-mapping="specific"
        data-term="{{ .Params.id }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ja"
        crossorigin="anonymous"
        async>
</script>